<!-- <section class="main" *ngIf="todoStore.todos.length > 0">
    <input class="toggle-all" type="checkbox" *ngIf="todoStore.todos.length" #toggleall [checked]="todoStore.allCompleted()" (click)="todoStore.setAllTo(toggleall.checked)">
    <ul class="todo-list">
        <li *ngFor="#todo of todoStore.todos" [class.completed]="todo.completed" [class.editing]="todo.editing">
            <div class="view">
                <input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
                <label (dblclick)="editTodo(todo)">{{todo.title}}</label>
                <button class="destroy" (click)="remove(todo)"></button>
            </div>
            <input class="edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
        </li>
    </ul>
</section> -->

<section class="main">
    <input class="toggle-all" type="checkbox">
    <ul class="todo-list">
        <li>
            <div class="view" *ngIf="loading">
                <label>Loading...</label>
            </div>
        </li>

        <li *ngFor="let todo of todos" [class.completed]="todo.completed" [class.editing]="selectedId===todo.id">
            <div class="view" *ngIf="!loading">
                <input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
                <label (dblclick)="selectTodo.emit(todo.id)">{{todo.title}}</label>
                <button class="destroy" (click)="removeOne.emit(todo.id)"></button>
            </div>
            <input class="edit" *ngIf="selectedId===todo.id" [value]="todo.title" (keyup.enter)="updateTitle(todo, $event.target.value)"
                (keyup.escape)="selectTodo.emit(0)" (blur)="selectTodo.emit(0)">
        </li>
    </ul>
</section>