<section class="main">
    <input class="toggle-all" type="checkbox">
    <ul class="todo-list">
        <li>
            <div class="view" *ngIf="loading">
                <label>Loading...</label>
            </div>
        </li>

        <li *ngFor="let todo of todos" [class.completed]="todo.completed" [class.editing]="selectedId===todo.id">
            <div class="view" *ngIf="!loading">
                <input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
                <label (dblclick)="selectTodo.emit(todo.id)">{{todo.title}}</label>
                <button class="destroy" (click)="removeOne.emit(todo.id)"></button>
            </div>
            <input class="edit" *ngIf="selectedId===todo.id" [value]="todo.title" (keyup.enter)="updateTitle(todo, $event.target.value)"
                (keyup.escape)="selectTodo.emit(0)">
        </li>
    </ul>
</section>