<!-- <footer class="footer" *ngIf="todoStore.todos.length > 0">
  <span class="todo-count"><strong>{{todoStore.getRemaining().length}}</strong> {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left</span>
  <button class="clear-completed" *ngIf="todoStore.getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
</footer> -->

<footer class="footer">
  <span class="todo-count">
    <strong>1</strong> item left</span>
  <button class="clear-completed" (click)="removeCompleted()">Clear completed</button>
</footer>